body {
  margin: 0;
  padding: 0;
  background-color: #8292ad;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background: url('bg.jpg') no-repeat fixed;
}


@media only screen and (max-width: 850px) {
  body {
    margin: 5%;
  }
}